@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
body {
    margin: 0;
    font-family: poppins, sans-serif;
}

.navbar {
    background-color: #D9D9D9;
    overflow: hidden;
    height: 80px;
   padding-left: 60px;
   padding-top: 20px;

}

.navbar .left, .navbar .right {
    display: inline-block;
}

.navbar .middle {
    display: inline-block;
    width: calc(50% - 20px); 
    text-align: center;

}

.navbar-link {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    color: #000000;
}

.navbar-link:hover {
    background-color: #ddd;
    color: black;
}

.search-bar {
    padding: 10px;
    width:500px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.content {
    width: calc(100% - 50px); /* Adjust width as needed */
    height: 150px;
    background-color: #005246;
    display: flex;
    align-items: center;
    padding-left: 60px;
  }
  
  .left-content {
    width: 50%;
    padding-left: 20px;
  }
  
  .greeting {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 1px;
    color: #ffffff;
  }
  
  .description {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  .right-content {
    width: 50%;
    text-align: right;
    padding-right: 200px;
  }
  
  .filters {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .filters li {
    display: inline;
    margin-right: 30px;
  }
  
  .filters li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .filters li a:hover {
    color: #06b299;
  }
  
  /* New styles for dropdown menu */
  .dropdown-menu {
    visibility: hidden; /* Initially hidden */
    display: none; /* Hide the dropdown menu by default */
    position: absolute; /* Make it positioned relative to its parent */
    z-index: 1; /* Set a higher z-index to appear on top */
    background-color: #f2f2f2; /* Background color for the dropdown */
    padding: 10px; /* Padding for the dropdown content */
    list-style-type: none; /* Remove default list styling */
  }
  
  .dropdown-toggle:hover .dropdown-menu {
    visibility: visible; /* Show on hover */
    display: block; /* Show on hover */
  }
  
  
  .dropdown-menu li {
    margin-bottom: 5px;
  }
  
  .dropdown-menu li a {
    color: #000; /* Text color for dropdown links */
  }
  
  .dropdown-menu li a:hover {
    background-color: #ddd; /* Background color for hover */
  }


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 1600x;
    margin-left: 130px;
    
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .product {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .product:hover {
    transform: translateY(-5px);
  }
  
  .product img {
    border-radius: 10px 10px 0 0 ;
    width: 200px;
    height: 300px;
    margin: 0px;
    margin-top: 0px;
    object-fit: cover;
  }
  
  .product h3 {
    font-size: small;
    font-weight: 300;
    border-radius: 0 0 10px 10px;
    position: absolute; /* Make the title absolute */
    width: 200px;
    top: 100%; /* Position the title vertically */
    left: 50%; /* Position the title horizontally */
    transform: translate(-50%, -50%); /* Center the title within the product */
    color: #fff; /* Assuming you want white text */
    text-align: center;
    background-color: #196358; /* Semi-transparent black background */
  }
.box{
  text-align: center;
}
h3{
  text-align: center;
  color: #0a0000;
  font-weight: 900;
  font-size: 50px;
  font-family: poppins, sans-serif;
}
.button{
  font-size: 15px;
  padding: 15px 35px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: #147d50;
  border-radius: 50px;

}





.container .products-container{
  display: grid;
  grid-template-columns: repeat(3, minmax(30rem, 1fr));
  gap:1rem;
}

.container .products-container .product{
  text-align: center;
  margin-top: 50px;
  padding:3rem 2rem;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  outline: .1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;
}

.container .products-container .product:hover{
  outline: .2rem solid #011804;
  outline-offset: 0;
  height: 300px;
}

.container .products-container .product img{
  height: 20rem;
}
.container .products-container .product:hover img{
  transform: scale(0.9);
}

.container .products-container .product h3{
  padding:.5rem 0;
  font-size: 1rem;
  color:#f8fbf9;
}

.container .products-container .product:hover h3{
  color:#27ae60;
}
.products-preview{
  position: fixed;
  top:0; 
  left:0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0,0,0,.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.products-preview .preview{
  display: none;
  padding:2rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin:4rem;
  width: 40rem;
}

.products-preview .preview.active{
  display: inline-block;
}

.products-preview .preview img{
  height: 10rem;
}
.products-preview .preview .fa-times{
  position: absolute;
  top:1rem;
  right:1.5rem;
  cursor: pointer;
  color:#444;
  font-size: 2rem;
}

.products-preview .preview .fa-times:hover{
  transform: rotate(90deg);
}

.products-preview .preview h3{
  color:#020a00;
  padding:.5rem 0;
  font-size: 2.0rem;
}
.products-preview .preview .container1{
  line-height: 1.5;
  padding:1rem 0;
  font-size: 1.6rem;
  color:#020a00;
}


.products-preview .preview .buttons{
  display: flex;
  gap:0.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.products-preview .preview .buttons a{
  flex:1 1 16rem;
  padding:1rem;
  font-size: 1.3rem;
  color:#fdfffe;
  background-color: #147d50;
  border:.1rem solid #147d50;
  border-radius: 30px;

}

/*------------request list css--------------*/
.form-container-list {
  margin-left: 500px;
  margin-top: 50px;
  width: 500px;
}

.my-form-list {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
}



.my-form-list button {
  width: 100px;
  padding: 8px 8px;
  background-color: #01A58D;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.my-form-list button:hover {
  background-color: #005246;
}
.table-container {
  display: flex;
  justify-content: center;
}

.request-list-table {
  
  margin-top: 50px;
  margin-left: 100px;
  width: 80%;
  border-collapse: collapse;
}

.request-list-table th, .request-list-table td {
  color: #005246;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.request-list-table th {
  background-color: #E1F4F2;
}

.request-list-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}




